.FormEmail {
  width: 100%;

  h2 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 30px;
    span {
      color: #fef035;
    }
  }

  form {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  @media (max-width:355px) {

  }
}
