.Footer {

  &__container {
    padding: 60px 15px 20px;
    display: flex;
    justify-content: space-between;
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__logo {
    img {
      width: 180px;
      filter: grayscale(1);
    }

    margin-bottom: 20px;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
  }

  &__column {
    a {
      display: block;
      text-decoration: none;
      color: #7f858f;
      transition: color .3s;
      font-size: 16px;
      margin-top: 5px;

      &:hover, &.active {
        color: #ffffff;
      }
    }
  }

  h3 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__soc {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 400px;

    a {
      margin-left: 10px;
      margin-top: 0;
      border: 2px solid rgba(255, 255, 255, .1);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      float: right;
      transition: .3s;

      &:hover {
        border: 2px solid rgba(255, 255, 255, 1);

        .Fill {
          opacity: 1;
        }
      }
    }
  }

  @media(max-width: 767px) {
    &__logo img {
      width: 130px;
    }

    &__wrap {
      max-width: 300px;
    }
  }
  @media(max-width: 577px) {
    &__wrap {
      flex-direction: column;
      align-items: center;
      a {
        margin-top: 0;
        margin-bottom: 10px;
      }
    }

    &__logo img {
      width: 150px;
    }

    &__column {
      text-align: center;
      margin-bottom: 20px;

      h3 {
        display: none;
      }
    }

    &__container {
      flex-direction: column;
      align-items: center;
    }
  }
}

.Fill {
  fill: #ffffff;
  cursor: pointer;
  transition: opacity .3s ease;
  opacity: .3;
}
