.Button {
  display: inline-block;
  padding: 0 20px;
  height: 50px;
  border-radius: 0 5px 5px 0;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  font-family: -apple-system, 'proxima-nova-a', BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  transition: all .3s ease;
  cursor: pointer;
  border: 1px solid #605ca8;
  border-left: none;

  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .3);
  }

  &:disabled {
    background: #ccc;
    color: #ffffff;
    cursor: not-allowed;
  }

  &.error {
    background: rgba(240, 87, 108, 1);
  }

  &.subscribe {
    background: #fef035;
  }

  &.primary {
    background: #2884f6;
    color: #ffffff;
  }

  @media (max-width: 577px) {
    padding: 0 15px;
    font-size: 18px;
    height: 44px;
  }
}


