@font-face {
    font-family: 'proxima-nova-a';
    src: url('/fonts/ProximaNovaA-Bold.woff2') format('woff2'),
    url('/fonts/ProximaNovaA-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova-a';
    src: url('/fonts/ProximaNovaA-Semibold.woff2') format('woff2'),
    url('/fonts/ProximaNovaA-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova-a';
    src: url('/fonts/ProximaNovaA-Regular.woff2') format('woff2'),
    url('/fonts/ProximaNovaA-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

p, span, body, html {
    margin: 0;
    padding: 0;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

a, a:hover, a:active {
    text-decoration: none;
    transition: all 0.3s ease;
}

a, img {
    display: block;
}

ul, li, h1, h2, h3, p, body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, 'proxima-nova-a', BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    font-size: 16px;
    background: #0f1217;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1170px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

nav ul {
    display: flex;
}

nav ul li a {
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 30px;
    font-weight: bold;
}

h1, h2 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

a {
    cursor: pointer;
}

h1 span {
    color: #f2ff23;
}

.date_cup {
    color: #ffffff;
    display: block;
}

.main__logo {
    margin: 0 auto;
    width: 300px;
}

/*-------- Hero screen --------*/

header {
    background: #0f1217;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

nav ul {
    display: flex;
}

nav ul li a {
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 30px;
    font-weight: bold;
}

h1, h2 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

h1 span {
    color: yellow;
}

.main {
    background: url('/img/main_bg.jpg') no-repeat bottom center / cover;
    position: relative;
    padding-top: 80px;
}

.main:before,
.video:after,
.video:before {
    position: absolute;
    content: '';
    height: 300px;
    width: 100%;
    right: 0;
    left: 0;
    z-index: 0;
}

.main:before, .video:after {
    background: linear-gradient(to top, #0f1217 0%, transparent 100%);
    bottom: 0;
}

.video:before {
    background: linear-gradient(to top, transparent 0%, #0f1217 100%);
    top: 0;
}

.main .container, .video .container {
    position: relative;
    z-index: 1;
}

.main__title {
    margin: 60px 0 80px;
}

.count-list {
    display: flex;
    justify-content: space-between;
    max-width: 650px;
    margin: 0 auto;
}

.count-list__item {
    width: 50%;
    height: 100px;
    background: #1e1f36;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.count-list__item:nth-child(2) {
    margin: 0 20px;
    width: 100%;
    display: none;
}

.video {
    padding: 80px 0 100px;
    background: url('/img/night_bg.png') no-repeat center center /cover;
    position: relative;
}

.video iframe {
    display: block;
    margin: 0 auto 80px;
    width: 800px;
    height: 450px;
}

.video__text {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.meet {
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/img/title_bg.jpg') no-repeat center center / cover;
}

.teams {
    background: #10135a;
    padding: 40px 0 80px;
}

.match {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 650px;
    justify-content: center;
    margin: 0 auto 30px;
}

.match img {
    height: 70px;
    width: auto;
}

.match:last-child {
    margin-bottom: 0;
}

.team {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 280px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, .1);
    padding: 15px;
}

.team:nth-child(2) {
    margin-left: 30px;
}

.team-name {
    display: block;
    width: 100%;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding-top: 15px;
}

.team-img {
    width: 80px;
    height: 70px;
    display: block;
    min-width: 80px;
    position: relative;
    margin-bottom: 15px;
}

.team-img img {
    position: absolute;
    height: 100%;
    width: auto;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    filter: drop-shadow(0px 0px 1px white);
}

.schedule {
    padding: 80px 0;
    display: none;
}

.countdown-title {
    color: #396;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
}

.countdown {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

.countdown-number {
    display: inline-block;
    padding: 4px;
}

.countdown-time {
    padding: 0 10px;
    font-weight: 700;
    display: inline-block;
    color: #fef035;
}

.countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 12px;
    text-transform: uppercase;
}

#match_days, #prize_money {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}

#match_days span, #prize_money span {
    font-weight: 700;
    display: block;
    color: #fef035;
    font-size: 30px;
    margin-bottom: 5px;
}


.deadline-message {
    display: none;
    font-size: 24px;
    font-style: italic;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.btn_about {
    height: 50px;
    line-height: 46px;
    font-weight: 700;
    color: #000000;
    background: #fef035;
    border: 2px solid #fef035;
    padding: 0 30px;
    transition: all .3s ease;
    text-transform: uppercase;
    font-size: 14px;
    width: 100%;
    display: block;
    max-width: 270px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 50px 0 0;
}

.btn_about.btn_about_tournament:hover {
    background: transparent;
    color: #fef035;
}

.btn_about.btn_about_matches {
    background: transparent;
    margin-left: 20px;
    color: #fef035;
}

.btn_about.btn_about_matches:hover {
    background: #fef035;
    color: #000000;
}

@media (max-width: 990px) {
    .video iframe {
        width: 730px;
        height: 410px;
    }
}

@media (max-width: 767px) {
    .video iframe {
        width: 540px;
        height: 300px;
    }

    h2 {
        font-size: 35px;
    }
}

@media (max-width: 577px) {
    .video iframe {
        width: 330px;
        height: 240px;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }

    .btn_about {
        width: 100%;
        display: block;
        max-width: 350px;
        text-align: center;
    }

    .btn_about.btn_about_matches {
        margin-left: 0;
        margin-top: 20px;
    }

    .logo {
        width: 100px;
    }

    .count-list {
        flex-direction: column;
        align-items: center;
    }

    .count-list__item {
        height: 90px;
        width: 100%;
        margin: 10px;
    }

    .count-list__item:nth-child(2) {
        margin: 15px 0;
        display: none;
    }

    .main__logo {
        width: 200px;
    }

    nav ul li a {
        margin-left: 10px;
        font-size: 11px;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 20px;
    }

    .meet {
        height: 80px;
    }

    .video__text {
        font-size: 18px;
    }

    .video iframe {
        margin-bottom: 60px;
    }

    .match {
        flex-direction: column;
    }

    .team:nth-child(2) {
        margin-left: 0;
    }

    .team-img {
        height: 50px;
    }

    .match {
        margin-bottom: 20px;
    }

    .team:first-child {
        margin-bottom: 20px;
    }

    .team {
        font-size: 16px;
    }
}

@media (max-width: 359px) {

    .logo {
        width: 80px;
    }

    .video iframe {
        width: 290px;
        height: 220px;
    }

    nav ul li a {
        font-size: 10px;
    }
}
